body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.dark{
    background-color: #333;
    color: white;
}

.dark h2{
    color: rgb(160,212, 237);
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    border: 1px solid grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2{
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    margin-top: 40px;
}

h2 {
    color: #006EB6;
    border-bottom: 3px solid grey;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

h3 {
    text-align: left;
    font-style: italic;
    margin-top: 30px;
}

main p, main ol {
    text-align: left;
    margin-top: 20px;
}

footer img {
    width: 150px;
    height: auto;
    margin: 40px auto 20px auto;
    display: block;
}
